* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 5px;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  margin-bottom: 10px;
  color: black;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.section-title span {
  color: crimson;
}
.cta {
  display: inline-block;
  padding: 10px 30px;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  margin-top: 30px;
  text-transform: uppercase;
  transition: 0.3s easy background-color;
}

.cta:hover {
  background-color: crimson;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* header */

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
}

#header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  transition: .5s ease left;
}

#header .nav-list ul.active{
  left: 0;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .hamburger {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0.8);
  margin-right: 1px;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::before {
  top: 8px;
}

#header .hamburger .bar::after {
  bottom: 8px;
}

#header .hamburger.active .bar::before{
  top: 0;
}
#header .hamburger.active .bar::after {
bottom: 0;
}

#header .hamburger::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: 3px solid white;
  border-radius: 50%;
  animation: hamburger_puls 1s infinite;
}

#header .nav-list ul a:hover{
  color: crimson;
}
/*end  header */

/* hero section  */

#hero {
  background-image: url(img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#hero h1 {
  font-size: 4rem;
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: crimson;
  animation: text_reveal-box 1s ease;
  animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* end hero section */

/* Service Section */

#services .services {
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(img/img-1.png);
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  color: white;
  overflow: hidden;
}

#services .service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}

#services .service-top {
  margin: 0 auto;
  max-width: 500px;
}
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.9rem;
}

/* End Service Section */

/* Projects */

#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}

#projects.project-img img {
  transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

/* End Projects */

/* About Section  */

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  margin-bottom: 50px;
  color: black;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  position: relative;
  /* z-index: 1; */
  border: 12px solid white;
  height: 100%;
  width: 100%;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  top: 19px;
  left: -33px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

/* End About Section*/

/* Contact Section*/

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 300px;
}

#contact .contact-item {
  width: 80%;
  padding: 30px;
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 18px 0 #0000002c;
  flex-direction: column;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0 0 5px 0 #0000002c;
}

.contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
}
/* End Contact Section*/

/* Footer Section*/
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  /* display: flex;
justify-content: center;
align-items: center; */
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .footer h2 {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin: 10px 0;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin-bottom: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s easy filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  font-size: 1.3rem;
}

/* End Footer Section*/

/* keyframes */
@keyframes text_reveal-box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
  }
}

@keyframes hamburger_puls {

  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
    
}

/*  Tablet */

@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  /* hero  */
  #hero h1 {
    font-size: 7rem;
  }
  /* end hero */

  /* Service section */
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End Service section */

  /* Project section */

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    flex-direction: row;
  }

  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }

  /* End Project section */

  /*  About section */
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
  }

  /* End About section */

  /*  Contact section */

  #contact .contact {
    flex-direction: column;
    min-width: 20vh;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  #contact .contact-items {
    flex-direction: row;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}
/* Tablet */

/* Desktop */
@media only screen and (min-width: 1200px) {
  /* services  */

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }

  #header .hamburger{
    display: none;
  }

  #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;

  }

  #header .nav-list ul a::after{
    display: none;

}
#header .nav-list ul li{
  display: inline-block;

}

#header .nav-list ul li a{
  font-size: 1.8rem;

}
}
